body {
	background-color: #fff;
	overflow: auto;
	width: 100%;
	background: linear-gradient(white);

}
.body2 {
	background-color: #fff;
	overflow: auto;
	width: 100%;
	background: linear-gradient(white);
	height: 100%;

}
.centre {
	display: flex;
	justify-content: center;
}
.droite {
	display: flex;
	justify-content: flex-end;
	border: black;
	border-style: solid;
	margin: 1em;
	box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);
	border-radius: 30px;
}

.base {
	display: flex;
	justify-content: space-around;
	margin: 10px 200px 50px;
	border: black;
	border-style: solid;
	object-fit: fill;
	background-color: #31ACC8;
	box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);
	border-radius: 30px;
	/* On définit une largeur */
    flex-basis: 10em;
    flex-basis: 3px;
    flex-basis: auto;

    /* On utilise les dimensions       */
    /* intrinsèques avec des mots-clés */
    flex-basis: fill;
    flex-basis: max-content;
    flex-basis: min-content;
    flex-basis: fit-content;

    /* La taille se calcule automatiquement */
    /* en fonction du contenu de l'élément  */
    flex-basis: content;

    /* Valeurs globales */
    flex-basis: inherit;
    flex-basis: initial;
    flex-basis: unset;
}

.header {
	display: flex;
	justify-content: space-around;
	margin: 10px 10px 10px;
	object-fit: fill;
	background-color: #31ACC8;
	box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);
	/* On définit une largeur */
    flex-basis: 10em;
    flex-basis: 3px;
    flex-basis: auto;

    /* On utilise les dimensions       */
    /* intrinsèques avec des mots-clés */
    flex-basis: fill;
    flex-basis: max-content;
    flex-basis: min-content;
    flex-basis: fit-content;

    /* La taille se calcule automatiquement */
    /* en fonction du contenu de l'élément  */
    flex-basis: content;

    /* Valeurs globales */
    flex-basis: inherit;
    flex-basis: initial;
    flex-basis: unset;
}
.carre {
	display: flex;

}

.carre:hover {
	transform: scale(1.1);
}

.petitcarre {
	display: flex;
	border: black;
	border-style: solid;
	width: 250;
	height: 75;
	box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);
	border-radius: 30px;
	background-color: #016178;
	text-align: center;
}

.shape {
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%);
}

.text{
	transform: rotate(345deg);
	font-size: 1.2rem;

}
.base1 {
	display: flex;
	justify-content: space-around;
	margin: 1em;
	object-fit: fill;

}
.button {
    background-color: #dae5ff;
    color: black;
    size: 100px;
    border: none;
    padding: 15px 32px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
	
}
.connexion:hover {
	transform: scale(1.1);
}
.haut {
	display: flex;
	justify-content: center;
	object-fit: fill;
	color: #016178;
	font-size: larger;
}
.haut2 {
	display: flex;
	justify-content: center;
	margin: 1em;
	border-radius: 30px;
}
.text2 {
	font-size: 7rem;
	text-align: center;
}
.text1 {
	font-size: 2rem;
	text-align: center;
}
hr {
    height: 2px;
    background: #8A9B9F;
    margin: 20px 0;
    width: 100%;
    color: #8A9B9F;
}
.connexion  {
    margin-bottom: 40px;
	margin-top: 40px;
	margin-left: 105px;
    width: 80%;
    text-align: center;
    align-items: center;
	transition: all 0.3s ease-in-out;
}
.grosbutton {
    background-color: #016178;
    color: #8A9B9F;
    size: 340px;
    border-style: solid;
	border-color: #8A9B9F;
    padding: 15px 32px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
	
}