body {
	background-color: #fff;
	overflow: auto;
	width: 100%;
	background: linear-gradient(white);

}
.body2 {
	background-color: #fff;
	overflow: auto;
	width: 100%;
	background: linear-gradient(white);
	height: 100%;

}
.centre {
	display: flex;
	justify-content: center;
}
.droite {
	display: flex;
	justify-content: flex-end;
	border: black;
	border-style: solid;
	margin: 1em;
	box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);
	border-radius: 30px;
}

.base {
	display: flex;
	justify-content: space-around;
	margin: 10px 200px 50px;
	border: black;
	border-style: solid;
	object-fit: fill;
	background-color: #31ACC8;
	box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);
	border-radius: 30px;
	/* On définit une largeur */
    flex-basis: 10em;
    flex-basis: 3px;
    flex-basis: auto;

    /* On utilise les dimensions       */
    /* intrinsèques avec des mots-clés */
    flex-basis: fill;
    flex-basis: max-content;
    flex-basis: min-content;
    flex-basis: fit-content;

    /* La taille se calcule automatiquement */
    /* en fonction du contenu de l'élément  */
    flex-basis: content;

    /* Valeurs globales */
    flex-basis: inherit;
    flex-basis: initial;
    flex-basis: unset;
}

.header {
	display: flex;
	justify-content: space-around;
	margin: 10px 10px 50px;
	object-fit: fill;
	background-color: #31ACC8;
	box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);
	/* On définit une largeur */
    flex-basis: 10em;
    flex-basis: 3px;
    flex-basis: auto;

    /* On utilise les dimensions       */
    /* intrinsèques avec des mots-clés */
    flex-basis: fill;
    flex-basis: max-content;
    flex-basis: min-content;
    flex-basis: fit-content;

    /* La taille se calcule automatiquement */
    /* en fonction du contenu de l'élément  */
    flex-basis: content;

    /* Valeurs globales */
    flex-basis: inherit;
    flex-basis: initial;
    flex-basis: unset;
}
.carre {
	display: flex;
	border: black;
	border-style: solid;
	width: 500;
	height: 150;
	object-fit: fill;
	background-color: #016178;
	border-radius: 30px;
	box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);
}
.petitcarre {
	display: flex;
	border: black;
	border-style: solid;
	width: 250;
	height: 75;
	box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);
	border-radius: 30px;
	background-color: #016178;
	text-align: center;
}

.shape {
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%);
}

.text{
	transform: rotate(345deg);
	font-size: 1.2rem;

}
.base1 {
	display: flex;
	justify-content: space-around;
	margin: 1em;
	object-fit: fill;

}
button {
	border: 0;
    line-height: 2.5;
    padding: 0 20px;
	width: 150px;
	height: 100px;
	border-radius: 30px;
	background-color: #31ACC8;
	box-shadow: 
	inset -2px -2px 3px rgb(0 0 0 / 60%);
}
.haut {
	display: flex;
	justify-content: center;
	margin: 1em;
	border: black;
	border-style: solid;
	object-fit: fill;
	background-color: #31ACC8;
	box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);
	border-radius: 30px;
}
.haut2 {
	display: flex;
	justify-content: center;
	margin: 1em;
	border-radius: 30px;
}
.text2 {
	font-size: 7rem;
	text-align: center;
}
.text1 {
	font-size: 2rem;
	text-align: center;
}