body {
	background-color: #fff;
	overflow: auto;
	width: 100%;
	background: linear-gradient(white);

}

.body2 {
	background-color: #fff;
	overflow: auto;
	width: 100%;
	background: linear-gradient(white);
	height: 100%;

}
.centre {
	display: flex;
	justify-content: space-around;
}

.base {
	display: flex;
	justify-content: space-around;
	margin: 10px 200px 50px;
	border: black;
	border-style: solid;
	object-fit: fill;
	background-color: #31ACC8;
	box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);
	border-radius: 30px;

}

.header {
	display: flex;
	justify-content: space-around;
	background-color: #31ACC8;
	box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(255 255 255 / 60%);
	
}

.text{
	transform: rotate(345deg);
	font-size: 1.2rem;

}

.button {
    background-color: #dae5ff;
    color: black;
    border: solid;
    padding: 15px 32px;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
	
}
.connexion:hover {
	transform: scale(1.1);
}
.haut {
	display: flex;
	justify-content: center;
	object-fit: fill;
	color: #016178;
	font-size: larger;
}
.haut2 {
	display: flex;
	justify-content: center;
	margin: 1em;
	border-radius: 30px;
}
.text2 {
	font-size: 7rem;
	text-align: center;
}
.text1 {
	font-size: 2rem;
	text-align: center;
}
hr {
    height: 2px;
    background: #8A9B9F;
    margin: 50px 0;
    width: 100%;
    color: #8A9B9F;
}
.connexion  {
    margin-bottom: 40px;
	margin-top: 40px;
    width: 80%;
    text-align: center;
    align-items: center;
	transition: all 0.3s ease-in-out;
	flex-direction: column;
}

.attributa
{
	background-color: #016178;
    color: whitesmoke;
    width: 340px;
	height: 120px;
    border: none;
    padding: 2rem 2rem 2rem 4rem;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
	transition: all 0.3s ease-in-out;

}

.partie1 {
	display: flex;
	justify-content: center;
	
}
.partie2 {
	display: flex;
	flex-direction: column;
	background-color: #31ACC8;
	box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(255 255 255 / 60%);
	
}

.nav1
{
	background-color: #016178;
    color: #8A9B9F;
    width: 100px;
	height: 50px;
    border-style: solid;
    padding: 1rem 1rem 1rem 1rem;
	margin: 50px;
	padding: 10px;
    font-size: 20px;
    cursor: pointer;
	transition: all 0.3s ease-in-out;

}
.nav2
{
	background-color: #EDF1F2;
    color: #8A9B9F;
    width: 100px;
	height: 20px;
    border-style: solid;
    padding: 1rem 1rem 1rem 1rem;
	margin: 10px;
    font-size: 20px;
    cursor: pointer;
	transition: all 0.3s ease-in-out;

}

.nav2:hover {
	border-color: #016178;
	color: #016178;
}

.page1 {
	display: flex;
	flex-direction: column;
	text-align: center;
	
}

.avantpage {
	padding-bottom: 20px;
	color: #EDF1F2;
}